html[data-theme='main'] {
    font-family: 'Segoe UI';
    font-size: small;
    font-weight: 400;
    --bg: #ffffff;
    --primary: #edf0f371;
    --secundary: #1E7F9D;
    --secundary2: #2788a5;
    --terciary: #dadada;
    --terciary2: #dfddde;
    --text1: #ffffff;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: ;
}
#progress {
    width: 80%;
    height: 30px;
    background-color: var(--primary);
    border-radius: 10px;
    margin-top: 200px;
  }
  
#bar {
    /* position: absolute; */
    width: 0%;
    height: 100%;
    background-color: var(--secundary);
    border-radius: 10px;
    /* border-top-left-radius: 10px; */
    /* border-bottom-left-radius: 10px; */
    display: flex;
    justify-content: center;
    transition: width 2s;
}
#progress-number {
    text-align: center; /* If you want to center it */
    line-height: 30px; /* Set the line-height to the same as the height of the progress bar container, to center it vertically */
    color: white;
    align-self: center;
}