<!DOCTYPE html>
<html lang="pt-br" data-theme='special'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="text"></title>
    <link rel="stylesheet" href="../css/bendingMoment.css">
</head>
<body>
    <div id='divimg2'>
        <label id='axes' style="color: rgb(114, 112, 112);" class="text">
            <span><img id='img2' height='280px'></span>
        </label>
    </div>
    <label style="padding-bottom: 10px;" class="text"></label>
    <div style="justify-content: space-around;">
        
        <div style="justify-content: space-between;">
            <label class="container text" id='radioLabel'>
                <input type="radio" name='flexao' checked>
                <span class="checkmark"></span>
            </label><br>
            <label class="container text" id='radioLabel'>
                <input type="radio" name='flexao'>
                <span class="checkmark"></span>
            </label>
            <label class="container text">
                <input type="radio" name='flexao'>
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div id='container'>
        <img id='image-flexao' src="../../assets/icons/flexao-4-pontos.png" alt="" height="70px">
        <div id='input1'>
            <label class="text"></label>
            <input type="number" id='Lshear'>
        </div>
        <label class="text" style="margin-top: 10px; display: none;" id="direction"></label>
        <div id='input2' style="display: none; margin-top: 0px; margin-bottom: 30px;">
            <label class="container text" id='radioLabel'>
                <input type="radio" name='direction' checked>
                <span class="checkmark"></span>
            </label>
            <label class="container text">
                <input type="radio" name='direction'>
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div id='buttons'>
        <button id='apply' class="text"></button>
        <button id='cancel' class="text"></button>
    </div>
    <script>window.i18n = new(require('../../translations/i18n'));</script>
    <script src="../js/translation/bendingMoment.js"></script>
    <script src="../js/bendingMoment.js"></script>
</body>
</html>