<!DOCTYPE html>
<html lang="pt-br" data-theme='special'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condição de contorno</title>
    <link rel="stylesheet" href="../css/boundaryConditions.css">
</head>
<body>
    <div id='divimg2'>
        <label id='axes' style="color: rgb(114, 112, 112);">Veja os eixos<span><img id='img2' height='280px'></span></label>
    </div>
    <label for="">Extremidades</label>
    <div>
        <div id='divimg'>
            <img id='img' alt="" height="120px">
        </div>
        <table id='3' style="display: none;">
            <tr id='title'>
                <td></td>
                <td colspan="3">Fixar</td>
            </tr>
            <tr id='n'>
                <td></td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr class="tr">
                <td>UX</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-2">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-3">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>UY</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-2">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-3">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>UZ</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-2">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-3">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>ROTX</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-2">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-3">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>ROTY</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-2">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-3">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>ROTZ</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-2">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-3">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>Todos</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-1">
                        <span class="checkmark"></span>
                        </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-2">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-3">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
        </table>
        <table id='2' style="display: none;">
            <tr id='title'>
                <td></td>
                <td colspan="2">Fixar</td>
            </tr>
            <tr id='n'>
                <td></td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr class="tr">
                <td>UX</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-2">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>UY</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-2">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>UZ</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-2">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>ROTX</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-2">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>ROTY</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-2">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>ROTZ</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-2">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>Todos</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-2">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
        </table>
        <table id='1' style="display: none;">
            <tr id='title'>
                <td></td>
                <td>Fixar</td>
            </tr>
            <tr class="tr">
                <td>UX</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox1-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>UY</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox1-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>UZ</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox1-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>ROTX</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox1-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>ROTY</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox1-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>ROTZ</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox1-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>Todos</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox1-1">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
        </table>
        <!-- <select id='select1'>
        </select>
        <div id='selects2'>
            <div>
                <label for="">UX</label>
                <select name="select">
                    <option value="free">Livre</option>
                    <option value="fixed" selected>Fixo</option>
                </select>
            </div>
            <div>
                <label for="">UY</label>
                <select name="select">
                    <option value="free">Livre</option>
                    <option value="fixed" selected>Fixo</option>
                </select>
            </div>
            <div>
                <label for="">UZ</label>
                <select name="select">
                    <option value="free">Livre</option>
                    <option value="fixed" selected>Fixo</option>
                </select>
            </div>
            <div>
                <label for="">ROTX</label>
                <select name="select">
                    <option value="free">Livre</option>
                    <option value="fixed" selected>Fixo</option>
                </select>
            </div>
            <div>
                <label for="">ROTY</label>
                <select name="select">
                    <option value="free">Livre</option>
                    <option value="fixed" selected>Fixo</option>
                </select>
            </div>
            <div>
                <label for="">ROTZ</label>
                <select name="select">
                    <option value="free">Livre</option>
                    <option value="fixed" selected>Fixo</option>
                </select>
            </div> -->
            
        <!-- </div> -->
    </div>
    <!-- <hr style="width: 100%;"> -->
    <label style="margin-top: 20px;"">Vão</label>
    <div id='inputTable'>
        <label for="">Tabela</label>
        <input type="text" id='tablePath'>
        <button id='searchButton'>Procurar</button>
    </div>
    <div id='downloadTable'>
        <button id='downloadButton'>Baixar tabela exemplo</button>
    </div>
    <div id='buttons'>
        <button id='apply'>Apply</button>
        <button id='cancel'>Cancel</button>
    </div>
    <script src="../js/boundaryConditions.js"></script>
</body>
</html>