<!DOCTYPE html>
<html lang="pt-br" data-theme='special'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="text"></title>
    <link rel="stylesheet" href="../css/geometryVigaTubular.css">
</head>
<body>
    <section>
        <img src="../../assets/icons/vigaTubular-dimensions.png" alt="" height="180px">
        <div id='input'>
            <div>
                <label>d</label> <input type="number" name="input" id="d">
            </div>
            <div>
                <label for="">b</label> <input type="number" name="input" id="b">
            </div>
            <div>
                <label for="">t</label> <input type="number" name="input" id="t">
            </div>
            <div>
                <label for="">L</label> <input type="number" name="input" id="L">
            </div>
        </div>
    </section>
    <div>
        <button id='apply' class="text"></button>
        <button id='cancel' class="text"></button>
    </div>
    <script>window.i18n = new(require('../../translations/i18n'));</script>
    <script src="../js/translation/geometryVigaTubular.js"></script>
    <script src="../js/geometryVigaTubular.js"></script>
</body>
</html>