<!DOCTYPE html>
<html lang="pt-br" data-theme='special'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geometria - Chapa</title>
    <link rel="stylesheet" href="../css/geometryCantoneira.css">
</head>
<body>
    <section>
        <div style="flex:1; align-content: center; justify-content: center;">
            <img src="../../assets/icons/plate-dimensions.png" alt="" height="180px">
        </div>
        <div id='input'>
            <div>
                <label>d</label> <input type="number" name="input" id="d">
            </div>
            <div>
                <label for="">t</label> <input type="number" name="input" id="t">
            </div>
            <div>
                <label for="">L</label> <input type="number" name="input" id="L">
            </div>
        </div>
    </section>
    <div>
        <button id='apply'>Apply</button>
        <button id='cancel'>Cancel</button>
    </div>
    <script src="../js/geometryPlate.js"></script>
</body>
</html>