<!DOCTYPE html>
<html lang="pt-br" data-theme='special'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geometria - Viga rack</title>
    <link rel="stylesheet" href="../css/geometryVigaRack.css">
</head>
<body>
    <section>
        <img src="../../assets/icons/vigaRack-dimensions.png" alt="" height="180px">
        <div id='input'>
            <div>
                <label>d</label> <input type="number" name="input" id="d">
            </div>
            <div>
                <label for="">bfs</label> <input type="number" name="input" id="bfs">
            </div>
            <div>
                <label for="">bfi</label> <input type="number" name="input" id="bfi">
            </div>
            <div>
                <label for="">t</label> <input type="number" name="input" id="t">
            </div>
            <div>
                <label for="">zs</label> <input type="number" name="input" id="zs">
            </div>
            <div>
                <label for="">zi</label> <input type="number" name="input" id="zi">
            </div>
            <div>
                <label for="">ys</label> <input type="number" name="input" id="ys">
            </div>
            <div>
                <label for="">yi</label> <input type="number" name="input" id="yi">
            </div>
            <div>
                <label for="">L</label> <input type="number" name="input" id="L">
            </div>
        </div>
    </section>
    <div>
        <button id='apply'>Apply</button>
        <button id='cancel'>Cancel</button>
    </div>
    <script src="../js/geometryVigaRack.js"></script>
</body>
</html>