<!DOCTYPE html>
<html lang="en" data-theme='special'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class='text' lang="pt-br"></title>
    <link rel="stylesheet" href="../css/materialPropertiesOrth.css">
</head>
<body>
    <div>
        <label class="text"></label> <input type="text" name="" id="name">
    </div>
    <div>
        <label>Ex</label> <input type="number" name="" id="elasticModulex">
    </div>
    <div>
        <label>Ey</label> <input type="number" name="" id="elasticModuley">
    </div>
    <div>
        <label>Ez</label> <input type="number" name="" id="elasticModulez">
    </div>
    <div>
        <label>vxy</label> <input type="number" name="" id="poissonxy">
    </div>
    <div>
        <label>vyz</label> <input type="number" name="" id="poissonyz">
    </div>
    <div>
        <label>vzx</label> <input type="number" name="" id="poissonxz">
    </div>
    <div>
        <label>Gxy</label> <input type="number" name="" id="Gxy">
    </div>
    <div>
        <label>Gyz</label> <input type="number" name="" id="Gyz">
    </div>
    <div>
        <label>Gzx</label> <input type="number" name="" id="Gxz">
    </div>
    <div>
        <label for="">&rho;</label> <input type="number" name="" id="density">
    </div>
    <div style="padding-top: 20px;">
        <button class='text' id='apply'></button>
        <button class="text" id='cancel'></button>
    </div>
    <script>window.i18n = new(require('../../translations/i18n'));</script>
    <script src="../js/translation/materialPropertiesOrth.js"></script>
    <script src="../js/materialPropertiesOrth.js"></script>
</body>
</html>