<!DOCTYPE html>
<html lang="pt-br" data-theme='special'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="text"></title>
    <link rel="stylesheet" href="../css/materialPropertiesAny.css">
</head>
<body>
    <section style="display: flex; flex-direction: row; justify-content: center;">
        <div style="margin-bottom: 15px;">
            <label class="text"></label> <input type="text" name="" id="name">
        </div>
    </section>
    <section>
        <div>
            <label>D11</label> <input type="number" name="matrix" id="D11">
        </div>
        <div>
            <label>D12</label> <input type="number" name="matrix" id="D12">
        </div>
        <div>
            <label>D13</label> <input type="number" name="matrix" id="D13">
        </div>
        <div>
            <label>D14</label> <input type="number" name="matrix" id="D14">
        </div>
        <div>
            <label>D15</label> <input type="number" name="matrix" id="D15">
        </div>
        <div>
            <label>D16</label> <input type="number" name="matrix" id="D16">
        </div>
    </section>
    <section>
        <div>
            <label>D21</label> <input type="number" name="matrix" id="D21">
        </div>
        <div>
            <label>D22</label> <input type="number" name="matrix" id="D22">
        </div>
        <div>
            <label>D23</label> <input type="number" name="matrix" id="D23">
        </div>
        <div>
            <label>D24</label> <input type="number" name="matrix" id="D24">
        </div>
        <div>
            <label>D25</label> <input type="number" name="matrix" id="D25">
        </div>
        <div>
            <label>D26</label> <input type="number" name="matrix" id="D26">
        </div>
    </section>
    <section>
        <div>
            <label>D31</label> <input type="number" name="matrix" id="D31">
        </div>
        <div>
            <label>D32</label> <input type="number" name="matrix" id="D32">
        </div>
        <div>
            <label>D33</label> <input type="number" name="matrix" id="D33">
        </div>
        <div>
            <label>D34</label> <input type="number" name="matrix" id="D34">
        </div>
        <div>
            <label>D35</label> <input type="number" name="matrix" id="D35">
        </div>
        <div>
            <label>D36</label> <input type="number" name="matrix" id="D36">
        </div>
    </section>
    <section>
        <div>
            <label>D41</label> <input type="number" name="matrix" id="D41">
        </div>
        <div>
            <label>D42</label> <input type="number" name="matrix" id="D42">
        </div>
        <div>
            <label>D43</label> <input type="number" name="matrix" id="D43">
        </div>
        <div>
            <label>D44</label> <input type="number" name="matrix" id="D44">
        </div>
        <div>
            <label>D45</label> <input type="number" name="matrix" id="D45">
        </div>
        <div>
            <label>D46</label> <input type="number" name="matrix" id="D46">
        </div>
    </section>
    <section>
        <div>
            <label>D51</label> <input type="number" name="matrix" id="D51">
        </div>
        <div>
            <label>D52</label> <input type="number" name="matrix" id="D52">
        </div>
        <div>
            <label>D53</label> <input type="number" name="matrix" id="D53">
        </div>
        <div>
            <label>D54</label> <input type="number" name="matrix" id="D54">
        </div>
        <div>
            <label>D55</label> <input type="number" name="matrix" id="D55">
        </div>
        <div>
            <label>D56</label> <input type="number" name="matrix" id="D56">
        </div>
    </section>
    <section>
        <div>
            <label>D61</label> <input type="number" name="matrix" id="D61">
        </div>
        <div>
            <label>D62</label> <input type="number" name="matrix" id="D62">
        </div>
        <div>
            <label>D63</label> <input type="number" name="matrix" id="D63">
        </div>
        <div>
            <label>D64</label> <input type="number" name="matrix" id="D64">
        </div>
        <div>
            <label>D65</label> <input type="number" name="matrix" id="D65">
        </div>
        <div>
            <label>D66</label> <input type="number" name="matrix" id="D66">
        </div>
    </section>
    <section>
        <div style="margin-top: 15px;">
            <label for="" id='dens'>&rho;</label> <input type="number" name="" id="density">
        </div>
    </section>
    <div style="padding-top: 20px;">
        <button id='apply' class="text"></button>
        <button id='cancel' class="text"></button>
    </div>
    <script>window.i18n = new(require('../../translations/i18n'));</script>
    <script src="../js/translation/materialPropertiesAny.js"></script>
    <script src="../js/materialPropertiesAny.js"></script>
</body>
</html>