<!DOCTYPE html>
<html lang="pt-br" data-theme='special'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material isotrópico</title>
    <link rel="stylesheet" href="../css/materialPropertiesIso.css">
</head>
<body>
    <div>
        <label>Nome</label> <input type="text" name="" id="name">
    </div>
    <div>
        <label>E</label> <input type="number" name="" id="elasticModule">
    </div>
    <div>
        <label for="">&nu;</label> <input type="number" name="" id="poisson">
    </div>
    <div>
        <label for="">&rho;</label> <input type="number" name="" id="density">
    </div>
    <div>
        <button id='apply'>Apply</button>
        <button id='cancel'>Cancel</button>
    </div>
    <script src="../js/materialPropertiesIso.js"></script>
</body>
</html>