<!DOCTYPE html>
<html lang="pt-br" data-theme='special'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material ortotrópico</title>
    <link rel="stylesheet" href="../css/materialPropertiesOrth.css">
</head>
<body>
    <div>
        <label>Nome</label> <input type="text" name="" id="name">
    </div>
    <div>
        <label>Ex</label> <input type="number" name="" id="elasticModulex">
    </div>
    <div>
        <label>Ey</label> <input type="number" name="" id="elasticModuley">
    </div>
    <div>
        <label>Ez</label> <input type="number" name="" id="elasticModulez">
    </div>
    <div>
        <label>vxy</label> <input type="number" name="" id="poissonxy">
    </div>
    <div>
        <label>vyz</label> <input type="number" name="" id="poissonyz">
    </div>
    <div>
        <label>vzx</label> <input type="number" name="" id="poissonzx">
    </div>
    <div>
        <label>Gxy</label> <input type="number" name="" id="Gxy">
    </div>
    <div>
        <label>Gyz</label> <input type="number" name="" id="Gyz">
    </div>
    <div>
        <label>Gzx</label> <input type="number" name="" id="Gzx">
    </div>
    <div>
        <label for="">Dens</label> <input type="number" name="" id="density">
    </div>
    <div style="padding-top: 20px;">
        <button id='apply'>Apply</button>
        <button id='cancel'>Cancel</button>
    </div>
    <script src="../js/materialPropertiesOrth.js"></script>
</body>
</html>