<!DOCTYPE html>
<html lang="ptBR" data-theme='special'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../css/materialList.css">
</head>
<body>
    <div id="list">
    </div>
    <div>
        <button id='add' class="text" value="Add"></button>
        <button id='edit' class="text" value="Edit"></button>
        <button id='delete' class="text" value="Delete"></button>
        <button id='ok' class="text" value="Ok"></button>
    </div>
    <script>window.i18n = new(require('../../translations/i18n'));</script>
    <script src="../js/translation/materialList.js"></script>
    <script src="../js/materialList.js"></script>
</body>
</html>