<!DOCTYPE html>
<html lang="pt-br" data-theme='special'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malha e material</title>
    <link rel="stylesheet" href="../css/meshAndMaterial.css">
</head>
<body>
    <div>
        <label>Tamanho do elemento</label> <input type="number" name="" id="elementSize">
    </div>
    <label>Método</label>
    <div style="justify-content: space-around;">
        
        <div style="justify-content: space-between;">
            <label class="container" id='radioLabel'>Livre
                <input type="radio" name='method'>
                <span class="checkmark"></span>
            </label><br>
            <label class="container">Mapeado
                <input type="radio" name='method'>
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <hr style="width: 100%;">
    <label>Material</label>
    <div id='addMateial'></div>
    <div id='buttons'>
        <button id='apply'>Apply</button>
        <button id='cancel'>Cancel</button>
    </div>
    <script src="../js/meshAndMaterial.js"></script>
</body>
</html>