<!DOCTYPE html>
<html lang="pt-br" data-theme='main'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="text"></title>
    <link rel="stylesheet" href="../css/boundaryConditions.css">
</head>
<body>
    <div id='divimg2'>
        <label id='axes' style="color: rgb(114, 112, 112);" class="text">
            <span><img id='img2' height='280px'></span>
        </label>
    </div>
    <div>
        <div id='divimg'>
            <label class="text"></label>
            <section>
                <section id="previous"><img src="../../assets/icons/previous.png" height="12px"></section>
                <input type="number" id="current-position">
                <section id="next"><img src="../../assets/icons/next.png" height="12px"></section>
            </section>
            <img id='img' alt="" height="120px">
        </div>
        <table id='3' style="display: none;">
            <tr id='title'>
                <td></td>
                <td colspan="3" class="text"></td>
            </tr>
            <tr id='n'>
                <td></td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr class="tr">
                <td>UX</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-2 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-3 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>UY</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-2 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-3 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>UZ</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-2 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-3 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>ROTX</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-2 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-3 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>ROTY</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-2 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-3 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>ROTZ</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-2 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-3 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td class="text"></td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-1 check">
                        <span class="checkmark"></span>
                        </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-2 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox3-3 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
        </table>
        <table id='2' style="display: none;">
            <tr id='title'>
                <td></td>
                <td colspan="2" class="text"></td>
            </tr>
            <tr id='n'>
                <td></td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr class="tr">
                <td>UX</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-2 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>UY</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-2 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>UZ</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-2 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>ROTX</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-2 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>ROTY</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-2 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>ROTZ</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-2 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td class="text"></td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox2-2 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
        </table>
        <table id='1' style="display: none;">
            <tr id='title'>
                <td></td>
                <td class="text"></td>
            </tr>
            <tr class="tr">
                <td>UX</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox1-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>UY</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox1-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>UZ</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox1-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>ROTX</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox1-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>ROTY</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox1-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td>ROTZ</td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox1-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr class="tr">
                <td class="text"></td>
                <td>
                    <label class="container">
                        <input type="checkbox" class="checkbox1-1 check">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
        </table>
    </div>
    <label style="margin-top: 20px;" class="text"></label>
    <div id='inputTable'>
        <label class="text"></label>
        <input type="text" id='tablePath'>
        <button id='searchButton' class="text"></button>
    </div>
    <div id='downloadTable'>
        <button id='downloadButton' class="text"></button>
    </div>
    <div id='buttons'>
        <button id='apply' class="text"></button>
        <button id='cancel' class="text"></button>
    </div>
    <script>window.i18n = new(require('../../translations/i18n'));</script>
    <script src="../js/translation/boundaryConditions.js"></script>
    <script src="../js/boundaryConditions.js"></script>
</body>
</html>