<!DOCTYPE html>
<html lang="pt-br"  data-theme='special'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="text"></title>
    <link rel="stylesheet" href="../css/generalAnalysisOptions.css">
</head>
<body>
    <p><strong class="text"></strong></p>
    <div class="select">
        <label for="" class="text"></label>
        <select name="" id="element-stiffness">
            <option value="0" class="text"></option>
            <option value="1" class="text"></option>
            <option value="2" class="text"></option>
        </select>
    </div>
    <div class="select">
        <label for="" class="text"></label>
        <select name="" id="integration-option">
            <option value="2" class="text"></option>
            <option value="0" class="text"></option>
        </select>
    </div>
    <div class="select">
        <label for="" class="text"></label>
        <select name="" id="curved-shell-formulation">
            <option value="0" class="text"></option>
            <option value="1" class="text"></option>
            <option value="2" class="text"></option>
        </select>
    </div>
    <div>
        <button id='apply' class="text"></button>
        <button id='cancel' class="text"></button>
    </div>
    <script>window.i18n = new(require('../../translations/i18n'));</script>
    <script src="../js/translation/generalAnalysisOptions.js"></script>
    <script src="../js/generalAnalysisOptions.js"></script>
</body>
</html>