<!DOCTYPE html>
<html lang="pt-br" data-theme='special' id="html" style="display: none;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstabiliTool</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <div id=container1>
        <div style="flex: 0.25;">
            <h3 style="padding-left: 10px;" class='text'></h3>
            <div id='analysiType'>
                <label class="container text">
                    <input type="radio" name='type' checked="checked">
                    <span class="checkmark"></span>
                </label><br>
                <label class="container text">
                    <input type="radio" name='type'>
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div style="flex: 0.7;">
            <h3 style="padding-left: 10px;" class='text'></h3>
            <div id='materialProps'>
                <div style="display: flex; flex-direction: row; justify-content: space-around;">
                    <label class="container text" style="padding-right: 25px;">
                        <input type="radio" name='material' checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container text" style="padding-right: 25px;">
                        <input type="radio" name='material'>
                        <span class="checkmark"></span>
                    </label>
                    <label class="container text">
                        <input type="radio" name='material'>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <button id='definirProps' class="text"></button>
            </div>
        </div>
    </div>
    <div id='container2'>
        <h3 style="padding-left: 10px;" class='text'></h3>
        <div id='geometry'>
            <img class="geometryIcon" src="../../assets/icons/vigaI.png" alt="Viga I" height="60px">
            <img class="geometryIcon" src="../../assets/icons/vigaTubular.png" alt="Viga tubular" height="60px">
            <img class="geometryIcon" src="../../assets/icons/vigaC.png" alt="Viga C" height="60px">
            <img class="geometryIcon" src="../../assets/icons/vigaU.png" alt="Viga U" height="60px">
            <img class="geometryIcon" src="../../assets/icons/vigaRack.png" alt="Viga rack" height="60px">
            <img class="geometryIcon" src="../../assets/icons/cantoneira.png" alt="Cantoneira" height="60px">
            <img class="geometryIcon" src="../../assets/icons/plate.png" alt="Plate" height="60px">
        </div>
    </div>
    <div id='container3'>
        <div style="flex: 0.35;">
            <h3 style="padding-left: 10px;" class='text'></h3>
            <div id='discretization'>
                <div style="display: flex; flex-direction: row; justify-content: space-around;">
                    <label class="container text" style="padding-right: 25px;">
                        <input type="radio" name='discretize' checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container text">
                        <input type="radio" name='discretize'>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <button id='discretização' class="text"></button>
            </div>
        </div>
        <div style="flex: 0.25;">
            <h3 style="padding-left: 10px;" class='text'></h3>
            <div id='boundaryConditions'>
                <div>
                    <select name="boundary" id="boundary">
                        <option value=""></option>
                        <option value="S-S" class="text"></option>
                        <option value="C-F" class="text"></option>
                        <option value="C-C" class="text"></option>
                        <option value="C-S" class="text"></option>
                    </select>
                </div>
                <button id='condiçãoContorno' class="text"></button>
            </div>
        </div>
        <div style="flex: 0.35">
            <h3 style="padding-left: 10px;" class='text'></h3>
            <div id='loading'>
                <div style="display: flex; flex-direction: row; justify-content: space-around;">
                    <label class="container text" style="padding-right: 20px;">
                        <input type="radio" name='load' checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container text">
                        <input type="radio" name='load'>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <button id='carga' class="text"></button>
            </div>
        </div>
    </div>
    <div id='container4'>
        <div>
            <button id='generate-script' class="text"></button>
        </div>
        <div>
            <button id='special-button' class="text start-analysi"></button>
            <button id='special-button' class="text view-results"></button>
        </div>
    </div>
    <script>window.i18n = new(require('../../translations/i18n'));</script>
    <script src="../js/translation/home.js"></script>
    <script src="../js/home-hoverEvent.js"></script>
    <script>
        document.querySelector('#html').style.display = 'block'
    </script>
    <script src="../js/home.js"></script>
</body>
</html>