<!DOCTYPE html>
<html lang="pt-br" data-theme='main'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="text"></title>
    <link rel="stylesheet" href="../css/materialPropertiesIso.css">
</head>
<body>
    <div>
        <label class="text"></label> <input type="text" name="" id="name">
    </div>
    <div>
        <label>E</label> <input type="number" name="" id="elasticModule">
    </div>
    <div>
        <label>&nu;</label> <input type="number" name="" id="poisson">
    </div>
    <div>
        <label>&rho;</label> <input type="number" name="" id="density">
    </div>
    <div>
        <button id='apply' class="text"></button>
        <button id='cancel' class="text"></button>
    </div>
    <script>window.i18n = new(require('../../translations/i18n'));</script>
    <script src="../js/translation/materialPropertiesIso.js"></script>
    <script src="../js/materialPropertiesIso.js"></script>
</body>
</html>