<!DOCTYPE html>
<html lang="pt-br"  data-theme='special'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="text"></title>
    <link rel="stylesheet" href="../css/nonlinearAnalysisOptions.css">
</head>
<body>
    <div id="load">
        <label for="" class="text"></label><input type="number" id="load-factor">
    </div>
    <div id="deformation">
        <label for="" class="text"></label><input type="number" id="inicial-deformation-factor">
    </div>
    <div>
        <button id='apply' class="text"></button>
        <button id='cancel' class="text"></button>
    </div>
    <script>window.i18n = new(require('../../translations/i18n'));</script>
    <script src="../js/translation/nonlinearAnalysisOptions.js"></script>
    <script src="../js/nonlinearAnalysisOptions.js"></script>
</body>
</html>